img { 
    
    max-width: 45%;  
    max-height: auto; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}  


h2{
    text-align: center;
    font-family: 'Suranna', serif;
    font-size: 200%;
    color:rgb(211, 232, 250);
}

p{
    text-align: center;
    font-family: 'Yuji Syuku', serif;
    font-size: 110%;
    color:rgba(18, 32, 156, 0.9)
    }


body{
    text-align: center;
    background-color: rgb(156, 154, 154);
    margin-left: 10%;

    }

a:link {
    font-family: 'Asar', serif;
    color: rgb(0, 100, 182);
    }

a:visited {
    font-family: 'Asar', serif;
    color: rgb(0, 42, 105);
    }


    