img { 
    align-items:center;
    max-width: 40%;  
    max-height: auto; 
}  


h2{
    font-family: 'Suranna', serif;
    font-size: 200%;
    color:rgb(211, 232, 250);
}

p{
    font-family: 'Yuji Syuku', serif;
    font-size: 100%;
    color:rgba(18, 32, 156, 0.9)
    }


body{
    background-color: rgb(156, 154, 154);
    margin-left: 10%;

    }

a:link {
    font-family: 'Asar', serif;
    color: rgb(0, 100, 182);
    }

a:visited {
    font-family: 'Asar', serif;
    color: rgb(0, 42, 105);
    }